.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    float: left;
    width: 300px;
    font-size: 20px;
    text-align: center;
}

.navbar{
    background-color: rgba(6, 128, 204, 0.2);
}
.navbar ul li a {
    color: black;
    text-decoration: none;   
    display: block;
    border: 1px solid white;
}

.navbar ul li ul li {
    border: none;
    display: none;
}

.navbar ul li:hover ul li {
    display: block;
    margin-top: 2px;
}

.navbar ul li a:hover {
    background-color: aqua;
    color: black;
}